@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-heading: 'Merriweather', serif;
    --font-body: 'Inter', sans-serif;
    --font-caption: 'JetBrains Mono', monospace;
    --font-data: 'Space Mono', monospace;

    --color-background: #000000;
    --color-foreground: #ffffff;
    --color-primary: #FABF2C; 
    --color-primary-foreground: #000000;
    --color-border: #333333;
    --color-card: #0F0F0F;
    --color-card-foreground: #ffffff;
    --color-muted: #1A1A1A;
    --color-muted-foreground: #A3A3A3;
    --color-success: #22C55E;
    --color-error: #EF4444;
  }

  body {
    @apply bg-[var(--color-background)] text-[var(--color-foreground)] font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-bold;
  }
}
